* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

h1 {
    margin-top: 40px;
}

table {
    border: 1px solid #000000;
    width: 300px;
}

th {
    background-color: #7c7c7c;
}

tr:nth-child(odd) {
    background-color: greenyellow;
}
