@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0 auto;
    width: 80%;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

form {
    margin: 0 auto;
    width: 50%;
}

label {
    display: block;
    margin-bottom: 20px;
}

.text {
    width: 200px;
}

input, textarea, select {
    font-size: 15px;
    border: 1px solid #CCC;
    margin-left: 10px;
}

textarea {
    margin: 10px 0px;
    width: 200px;
    height: 100px;
    resize: none;
}

#button {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #CCC;
    background-color: #EEE;
}

#button:hover {
    background-color: #DDD;
}

fieldset {
    border: 2px solid #CCC;
    width: 500px;
    margin-bottom: 5px;
}